.sale h4 {
    padding: 5px;
    font-weight: bold;
}

.tabs .indicator {
    background-color: grey !important;
}

.brand-logo img {
    margin-top: 14px;
}

nav {
    font-family: 'Raleway', sans-serif;
}

.card-image {
    max-height: 100%;
    height: 250px;
    position: relative;
}

.card-image img {
    position: absolute;
    top: 0;
}

.info-tabs {
    margin-top: 1rem !important;
}

.section-catalog {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.card-action a {
    width: 100% !important;
}

.card-image img {
    padding: 1rem !important;
}

.section-admin td img {
    width: 6rem !important;
}

.section-cart td img {
    width: 5rem !important;
}

.section-cart td a {
    width: 4rem;
    text-align: center;
    padding: 0;
    font-size: .7rem;
}

.section-admin td a {
    width: 4rem;
    text-align: center;
    padding: 0;
    font-size: .7rem;
}

.confirm > div {
    position: fixed;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
}

.confirm a {
    width: 100%;
}

.section-catalog form p span {
    text-align: center;
    border-radius: 25px;
    width: 8rem;
    padding: 1px 0;
    color: white;
    display: inline-block;
}

footer {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center top;
}

.footer-copyright {
    background-color: transparent !important;
}

.input-field .dropdown-content [type="checkbox"] + label {
    top: -0.2em !important;
    display: inline;
}